<footer id="contato">

        <div class="ConteinerLogoFt">

            <div class="BoxlogoFt">
                <h1>A.R <strong>Blog</strong></h1>
            </div>

            <div class="BoxIncosFt">                
                <i class='bx bxl-instagram'></i>
                <i class='bx bxl-github'></i>
                <i class='bx bx-envelope'></i>
            </div>
            
            <span>2023 © A.R Blog | All Right reserved</span>
        </div>



        <div class="BoxTituloIcons">

            <div class="footerTitulo"><h1>Links Rápidos</h1></div>


            <div class="ConteinerLR">
                <a href="#">Início</a>
                <a href="HtmlPage.html" class="html">HTML</a>
                <a href="CssPage.html" class="css">CSS</a>
                <a href="CssPage.html" class="css">Temas</a>
                <a href="#">Sobre</a>
                <a href="#">Contatos</a>
            </div>
        </div>

    </footer>