<header class="header">

        <div class="ContentLogo"><div class="TituloLogo"><h1>A.R <strong>Blog</strong></h1></div></div>

        <div class="icons">
            <a href="/admin/addcategoria">Categoria</a>          
        </div>

    </header>