<header class="header">
        <div class="ContentLogo"><div class="TituloLogo"><h1>A.R <strong>Blog</strong></h1></div></div>

        <div class="icons">
            <a href="/"><i class='bx bx-home'></i></a>    
        </div>

    </header><br><br><br><br>