<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    
    <title>Document</title>  
   
     {{#if headerAdminCat}}
             <link rel="stylesheet" href="css/HtmlCssStyle.css">
    {{/if}}

    {{#if headerAdminAssut}}
        <link rel="stylesheet" href="css/HtmlCssStyle.css">
    {{/if}}

    {{#if navbar}}
        <link rel="stylesheet" href="css/style.css">
    {{/if}}

    {{#if content}}
    <link rel="stylesheet" href="css/GeralPage.css">
    {{/if}}

    {{#if headerCategoria}}
     <link rel="stylesheet" href="css/style.css">
    {{/if}}
  
    
</head>
<body>

        {{>msg}}

    {{#if headerAdminAssut}}
            {{>headerForm}}
     
    {{/if}}
   
    {{#if navbar}}
     {{>header}}
    {{/if}}

    {{#if headerCategoria}}
    {{>headerCategoria}}
    {{/if}}

    {{{body}}}

{{>footer}}
</body>
<script src="JavaScript/index.js"></script>
<script src="JavaScript/GeralPage.js"></script>
</html>