*{
    margin: 0; padding: 0; box-sizing: border-box; text-decoration: none;
}

body{
    background-color: #000;
}


.header{
    width: 100%;
    height: 70px;
    padding: 15px;
    z-index: 2;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}

.ContentLogo{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.TituloLogo h1{
    color: #fff;
    font-size: 2rem;
    font-family: "Alkatra";
}

.TituloLogo strong{
    color: goldenrod;
}


.icons{
    cursor: pointer;
    width: 50%;
    gap: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icons a{
    font-size: 1.2rem;
    color: #fff;
    padding: 5px;
    border: 1px solid gray;
}

.icons a:hover{
    transform: scale(110%);
    color: goldenrod;
    box-shadow: 0rem .3rem .3rem gray;
}

/* CONFIGURAÇÃO DO CONTEINER <=============== TITULOS ==================>*/

.ConteinerTitulo{
    width: 100%;
    height: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo{
    width: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;

}

.titulo h1{
    color: #fff;
    font-size: 3rem;
    font-family: "Alkatra";
}

/* CONFIGURAÇÃO DO CONTEINER <=============== FORMULÁRIO ==================>*/

.conteinerForm,
.ConteinerHtml{
    width: 100%;
    height: 100%;
    padding: 1rem;
    gap: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;
}

form{
    width: 100%;
    height: 100%;
    padding: 1rem;
    gap: 1.1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;  
}

form input{
    width: 80%;
    height: 2rem;
    padding: 5px;
}

form button{
    padding: 5px;
    font-size: 1.2rem;
    background: none;
    color: #fff;
    border: 1px solid gray;
}

form button:hover{
    color: #000;
    transition: all .3s ease;
    background-color: goldenrod ;
}

select{
    width: 30%;
    display: flex;
    text-align: start;
}

