
    <section id="AssuntoHtml">
        
        <div class="ConteinerTitulo"><div class="titulo"><h1>Categoria</h1></div></div>

        <div class="ConteinerHtml">

            <form action="/admin/categorias" method="post">            

                <input type="text" name="categoria" id="categoria" placeholder="Categoria">

                <button submit="enviar">Enviar</button>
                
            </form>
            
        </div>
       
    </section>
